{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/exercise.css" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col hero-section justify-content-center align-items-middle">
      <div class="hero-section">
        <img src="/static/img/splash.jpg">
        <div class="text-overlay">
          <!-- Feel free to change this -->
          <h1>Move me to the left!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- For reference. You may delete. -->
    <div class="row row-section">
      <div class="col">
        <div class="section-header">
          Sample Header
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 dev-outline">
        Sample Column 1
      </div>
      <div class="col-md-6 dev-outline">
        Sample Column 2
      </div>
    </div>

    <!-- Add your own content below -->
    <div class="row">
      <div class="col-sm-4">
        Samson Du
      </div>
      <div class="col-sm-4">
        samsondu888@gmail.com
      </div>
      <div class="col-sm-4">
        Los Angeles
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        slideshow program
      </div>
      <div class="col-md-6">
        I created an interactive slideshow program using jQuery
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        animation program
      </div>
      <div class="col-md-6">
        created a simple animation with canvas
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Sound program
      </div>
      <div class="col-md-6">
        Created a program that utilizes sound with javascript
      </div>
    </div>
  </div>

  <div class="bottom-spacer">
  </div>
{% endblock %}