{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/splash.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>I Build Stuff.</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Samson Du 
          </div>
          <div class="col-sm-4 text-pad">
            samsondu888@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Los Angeles, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about computer science</p>
        <p>creating stuff that is potentially interesting to you.</p>
        <p>Intrigued by design, sports, photography, coding, and always learning more.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              AUSD president of TCS
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Took steps to improve sustainability on high school campuses</p>
              <p>Spoke with AUSD board to implement means of sustainability</p>
              <ul>
                <li class="main-li">Plan is to turn food waste from school lunches and use it as compost</li>
                <li class="sub-li">Set up compost bins</li>
                <li class="sub-li">Give the option for students to dispose of food they do not want</li>
                <li class="main-li">Unforturnately put on hold due to distance learning</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Track and Field
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Jan 2018 - Jan 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Jumper for the MKHS track team</p>
              <p>Competed at track meets and invitationals</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Slideshow program
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Februray 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Created an interactive slideshow program using javascript/jQuery</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">Split the prject into different parts</li>
                <li class="sub-li">Different layers to the slideshow each with their own functionality</li>
                <li class="main-li">Allows the user to interact and put their own pictures into the slideshow</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Animation
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              April 2020
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Created a simple animation using canvas with user interaction</p>
              <p>More of a proof of concept, showing that I can use canvas to animate</p>
              <ul>
                <li class="main-li">Has 2 differnt rotating objects (one simple one complicated) spinning around and bouncing off each other</li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Program with sound
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Dec 2019
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Utilizes sounds for a simple program</p>
              <p>Another proof of concept program, shows that I can implement sound in my projects</p>
              <ul>
                <li class="main-li">Has different ways of triggering a noise that the user can play around with</li>
                <li class="sub-li">A timer that plays a sound everytime it finishes</li>
                <li class="sub-li">A button that plays a sound if clicked</li>
                <li class="main-li">An animation that plays a sound periodically</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>
    
    <div class="row">
      <div class="col">

      <!-- Project 1
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Award 1
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              From this org
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              What this certification is about
            </div>
          </div> -->

          <div class="row">
            <div class="col section-content-header">
              Honor
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Honnor student since 2010
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/compsci.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Computer Science</h3>
            <p class="content-text">I aspire to be a computer scientist</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/earth.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Enviornment</h3>
            <p class="content-text">Advocate for keeping our World healthy</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/interest-2.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">entertainment</h3>
            <p class="content-text">I enjoy playing games, watching shows and listening to music</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">me@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@myhandle</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/myprofile</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}